body{
  height:100%;
  text-align:center;
  font-family: "Times New Roman", Times, serif;
}
body:before{
  content:'';
  height:100%;
  display:inline-block;
  vertical-align:middle;
}
#title{
  font-size: 100px;
  margin-bottom: 0;
}
#result{
  font-size: 20px;
  margin-bottom: 30px;
}
button{
  background:#f01a1d;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  background:#fff;
  color:#f01a1d;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #f01a1d;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
